Source: labwc-tweaks
Section: utils
Priority: optional
Maintainer: ferrreo <harderthanfire@gmail.com>
Build-Depends: debhelper-compat (= 13), meson, libgtk-3-dev, libxml2-dev, libgio2.0-cil-dev
Standards-Version: 4.5.1
Homepage: https://github.com/labwc/labwc-tweaks
Rules-Requires-Root: no

Package: labwc-tweaks
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: configuration gui app for labwc
 [WIP] configuration gui app for labwc without any real plan or Acceptance
 Criteria. It was merely written to help change themes for the purposes of
 testing labwc during development.
 Don't expect too much :)
